PROJECT_NAME=folio

# ENV: dev, prod, poc, ...
ENV=

# PostgreSQL
POSTGRES_DB=folio
POSTGRES_USER=
POSTGRES_PASSWORD=

# Database
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=folio;Username=;Password=

# ASP.NET Core
ASPNETCORE_ENVIRONMENT=Development

# Ports
POSTGRES_PORT=5432
WEB_PORT=3000
